DATABASE_URL="postgresql://sls:sls@localhost:5432/sls_dev?schema=public"
REDIS_URL="redis://localhost:6379"

NEXT_PUBLIC_API_BASE_URL="http://localhost:3001"
NEXT_PUBLIC_MAPBOX_TOKEN=""

PORT=3001
NODE_ENV="development"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PAYMENTS_ENABLED="false"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="SicilyTrip <prenotazioni@example.com>"
CUSTOMER_AUTH_SECRET="replace-with-at-least-32-random-characters"
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_AUTH_SECRET="replace-with-a-different-32-character-secret"
