DATABASE_URL="postgresql://sls:sls@localhost:5432/sls_dev?schema=public"
REDIS_URL="redis://localhost:6379"

NEXT_PUBLIC_API_BASE_URL="[localhost](http://localhost:3001)"
NEXT_PUBLIC_MAPBOX_TOKEN=""

PORT=3001
NODE_ENV="development"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

